*
{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bgfr.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: solid white;
}

.main-nav li a:hover
{
    border: solid white;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.hero
{
    position: absolute;
    width: 1200px;
    color: white;
    /*text-transform: uppercase;*/
    font-size: 90px;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
}

h6
{
    color: white;
}

h1 {
    color: #00317A;
}

.bruh {
    position: absolute;
    width: 1100px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 300px;
    margin-left: 150px;
    font-size: 50px;
}